.task {
    border-radius: 5px;
}
.input-task{
    padding: 32px 32px 32px 67px;
    border: 2px solid $light-grey-color;
    font-size: 24px;
    &::placeholder{
        color: $light-grey-color;
    }
}
.add-task{
    position: relative;
    display:inline-block;
    &::before{
        font-weight: 700; 
        content: "+";
        font-size: 36px;
        color: $light-grey-color;
        position: absolute;
        left: 32px;
        top: 49%;
        transform: translateY(-50%);
    }
}