.task {
    border-radius: 5px;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: $card-color;
    font-size: 20px;
    box-shadow: 0 4px 4px 0 #C8C8C8;
}
.task-title{
    background: rgba($color: #000000, $alpha: 0);
}
.task-card{
    padding: 24px 32px 24px 72px;
    position: relative;
    input{
        width: 32px;
        height: 32px;
        position: absolute;
        left: 32px;
        clip-path: inset(4px 4px 4px 4px round 2px);
    }
}
.icon-note{
    font-size: 18px; 
    color: #757575;
    li {
        margin-right: 16px;
        &:last-child{
            margin-right: 0px;
        }
    }
    i{
        width: 1.25em;
        text-align: center;
    }
}
.icon-edit{
    &:hover{
        color: #7E7F9A;
    }
}
.active .icon-edit{
    color: #533A71;
}
.edit{
    border-top: 2px solid #C8C8C8;
    padding: 24px 72px;
    color: black;
    background-color: $done-color;
    li{
        margin-bottom: 24px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.icon{
    font-size: 24px; 
    color: black;
}
.icon-important{
    color: #F5A623;
}

.task-done{
    background-color: $done-color;
    color: #9B9B9B;
    h3{
        text-decoration: line-through;
    }
}
input[type="checkbox"] {
    filter: sepia(100%) brightness(80%) hue-rotate(170deg) saturate(70%) contrast(300%);
}
.input-task{
    border-radius: 5px;
    padding: 32px 32px 32px 67px;
    border: 2px solid $light-grey-color;
    font-size: 24px;
    &::placeholder{
        color: $light-grey-color;
    }
}
.add-task{
    margin-bottom: 24px;
    margin-top: 24px;
    position: relative;
    display:inline-block;
    &::before{
        font-weight: 700; 
        content: "+";
        font-size: 36px;
        color: $light-grey-color;
        position: absolute;
        left: 32px;
        top: 49%;
        transform: translateY(-50%);
    }
}
.btn-list li{
    width: 50%;
    .cancel, .save{
        padding: 16px;
        font-size: 24px;
    }
    .cancel{
        background: #fff;
        color: #7E7F9A;
        &:hover{
            color: $primary-color;
        }
    }
    .save{
        background: #7E7F9A;
        color: #fff;
        &:hover{
            background: $primary-color;
        }
    }
}
