.mt-8{
    margin-top: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mr-8{
    margin-right: 8px;
}
.mr-14{
    margin-right: 14px;
}
.mr-32{
    margin-right: 32px;
}
.ml-26{
    margin-left: 26px;
}
.ml-40{
    margin-left: 40px;
}


.mxw-200{
    max-width: 200px;
}
.mxw-400{
    max-width: 410px;
}