$media-xs: 320px;
$media-sm: 576px;
$media-md: 768px;
// 1440px * 1020px
$media-lg: 992px;
$media-xl: 1200px;
// 1920px * 1080px

$primary-color: #1F2041;
$primary-light-color: #454B66;
$secondary-color: #B0BBBF;
$tertiary-color: #BDE8F9;
$light-grey-color: #C8C8C8;
$card-color: #FFF2DC;
$done-color: #F2F2F2;
$edit-color: #4A90E2;
$task-color: #C9DAEA;
// $mid-grey-color: #EEEDE8;
// $dark-grey-color: #A5A39C;
// $light-main-color: #FFFAF4;
// $white-color: #FFFFFF;
// $dark-color: #4D4C52;