$media-xs: 320px;
$media-sm: 576px;
$media-md: 768px;
// 1440px * 1020px
$media-lg: 992px;
$media-xl: 1200px;
// 1920px * 1080px

// $primary-color: #F9B471;
// $secondary-color: #51A8BC;
// $tertiary-color: #BDE8F9;
// $light-grey-color: #F9F8F6;
// $mid-grey-color: #EEEDE8;
// $dark-grey-color: #A5A39C;
// $light-main-color: #FFFAF4;
// $white-color: #FFFFFF;
// $dark-color: #4D4C52;