/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  text-align: center;
  display: block;
}

button {
  text-decoration: none;
  display: block;
  border: 0px solid #000;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

body {
  font-family: "Noto Sans CJK TC","Noto Sans TC","Microsoft JhengHei",serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1em;
  background: #E1E1E1;
}

@media (max-width: 320px) {
  body {
    font-size: 16px;
  }
}

h4 {
  font-size: 20px;
}

.mt-16 {
  margin-top: 16px;
}

.mr-32 {
  margin-right: 32px;
}

.mb-8 {
  margin-bottom: 8px;
}

.maxw-200 {
  max-width: 200px;
}

.container {
  max-width: 1200px;
}

h3 {
  font-size: 24px;
}

.task,
.add-task {
  margin-top: 24px;
  background: #C9DAEA;
  -webkit-box-shadow: 0 4px 4px 0 #C8C8C8;
          box-shadow: 0 4px 4px 0 #C8C8C8;
  border-radius: 5px;
  font-size: 24px;
  overflow: hidden;
}

.task-title input {
  background: rgba(0, 0, 0, 0);
  border: 0px solid #000;
  height: 24px;
}

.task-title input:focus {
  outline: none;
}

.task-icon:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0c8";
  display: inline-block;
  padding-right: 16px;
  vertical-align: middle;
  font-weight: 400;
}

.add-task {
  background: #fff;
  border: 2px solid #C8C8C8;
  -webkit-box-shadow: 0 0px 0px 0 #C8C8C8;
          box-shadow: 0 0px 0px 0 #C8C8C8;
}

.add-task .task-icon:before {
  content: "\2b";
}

.add-task.edit .task-icon:before {
  content: "\f0c8";
}

.task-title {
  padding: 24px 32px 24px 72px;
  position: relative;
}

.task-title .task-icon:before {
  position: absolute;
  left: 32px;
}

.icon-content li {
  margin-right: 16px;
  font-size: 16px;
}

.check {
  background: #f2f2f2;
  color: #9B9B9B;
}

.check .task-title .task-icon:before {
  content: "\f14a";
  font-weight: 900;
}

.check h3 {
  text-decoration: line-through;
}

.icon {
  font-size: 24px;
  color: black;
}

.color-yellow {
  color: #F5A623;
}

.edit .icon-edit {
  color: #4A90E2;
}

.edit .task-edit {
  background: #F2F2F2;
}

.task-edit {
  border-top: 2px solid #C8C8C8;
  padding: 24px 98px;
}

.task-edit li {
  font-size: 16px;
  margin-bottom: 24px;
  position: relative;
}

.task-edit li h4:before {
  font-family: "Font Awesome 5 Free";
  content: "\f4ad";
  font-weight: 400;
  position: absolute;
  left: -28px;
}

.task-edit li:first-child h4::before {
  content: "\f073";
}

.task-save li {
  width: 50%;
}

.cancel,
.save {
  padding: 16px 24px;
}

.cancel {
  background: #fff;
  color: #454B66;
}

.cancel:hover {
  color: #1F2041;
}

.cancel:before {
  content: "x" !important;
}

.save {
  background: #454B66;
  color: white;
}

.save:hover {
  background: #1F2041;
}

.save:before {
  content: "+" !important;
}

.header {
  background-color: #1F2041;
}

.header a {
  color: #B0BBBF;
  padding: 23px 36px 25px;
  font-size: 24px;
}

.header .active a {
  color: #fff;
  border-bottom: 5px solid #BDE8F9;
}

.task-left {
  font-style: italic;
  font-size: 24px;
  color: #C8C8C8;
  margin-top: 12px;
  padding-left: 32px;
}
/*# sourceMappingURL=all.css.map */