/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  text-align: center;
  display: block;
}

button {
  text-decoration: none;
  display: block;
  border: 0px solid #000;
  width: 100%;
  font-size: 20px;
}

body {
  font-family: "Noto Sans CJK TC","Noto Sans TC","Microsoft JhengHei",serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.1em;
}

@media (max-width: 320px) {
  body {
    font-size: 16px;
  }
}

.mt-8 {
  margin-top: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-14 {
  margin-right: 14px;
}

.mr-32 {
  margin-right: 32px;
}

.ml-26 {
  margin-left: 26px;
}

.mxw-200 {
  max-width: 200px;
}

.mxw-400 {
  max-width: 410px;
}

.container {
  max-width: 1200px;
}

h3 {
  font-size: 24px;
}

.task {
  border-radius: 5px;
  margin-bottom: 8px;
  overflow: hidden;
  background-color: #FFF2DC;
  font-size: 20px;
  -webkit-box-shadow: 0 4px 4px 0 #C8C8C8;
          box-shadow: 0 4px 4px 0 #C8C8C8;
}

.task-card {
  padding: 24px 32px 24px 72px;
  position: relative;
}

.task-card input {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 32px;
  -webkit-clip-path: inset(4px 4px 4px 4px round 2px);
          clip-path: inset(4px 4px 4px 4px round 2px);
}

.icon-note {
  font-size: 18px;
  color: #757575;
}

.icon-note li {
  margin-right: 16px;
}

.icon-note li:last-child {
  margin-right: 0px;
}

.icon-note i {
  width: 1.25em;
  text-align: center;
}

.icon-edit:hover {
  color: #7E7F9A;
}

.active .icon-edit {
  color: #533A71;
}

.edit {
  border-top: 2px solid #C8C8C8;
  padding: 24px 72px;
  color: black;
  background-color: #F2F2F2;
}

.edit li {
  margin-bottom: 24px;
}

.edit li:last-child {
  margin-bottom: 0;
}

.icon {
  font-size: 24px;
  color: black;
}

.icon-important {
  color: #F5A623;
}

.task-done {
  background-color: #F2F2F2;
  color: #9B9B9B;
}

.task-done h3 {
  text-decoration: line-through;
}

input[type="checkbox"] {
  -webkit-filter: sepia(100%) brightness(80%) hue-rotate(170deg) saturate(70%) contrast(300%);
          filter: sepia(100%) brightness(80%) hue-rotate(170deg) saturate(70%) contrast(300%);
}

.input-task {
  border-radius: 5px;
  padding: 32px 32px 32px 67px;
  border: 2px solid #C8C8C8;
  font-size: 24px;
}

.input-task::-webkit-input-placeholder {
  color: #C8C8C8;
}

.input-task:-ms-input-placeholder {
  color: #C8C8C8;
}

.input-task::-ms-input-placeholder {
  color: #C8C8C8;
}

.input-task::placeholder {
  color: #C8C8C8;
}

.add-task {
  margin-bottom: 24px;
  margin-top: 24px;
  position: relative;
  display: inline-block;
}

.add-task::before {
  font-weight: 700;
  content: "+";
  font-size: 36px;
  color: #C8C8C8;
  position: absolute;
  left: 32px;
  top: 49%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn-list li {
  width: 50%;
}

.btn-list li .cancel, .btn-list li .save {
  padding: 16px;
  font-size: 24px;
}

.btn-list li .cancel {
  background: #fff;
  color: #7E7F9A;
}

.btn-list li .save {
  background: #7E7F9A;
  color: #fff;
}

.header {
  background-color: #1F2041;
}

.header a {
  color: #B0BBBF;
  padding: 23px 36px 25px;
  font-size: 24px;
}

.header .active a {
  color: #fff;
  border-bottom: 5px solid #BDE8F9;
}
/*# sourceMappingURL=all.css.map */